@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

*, *::before, *::after {
    font-family: 'Noto Sans JP', Verdana;
}

body {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border: 1rem dashed purple;
    border-radius: 1rem;
    color: purple;
    font-size: 3rem;
    font-weight: 550;
    text-align: center;
    user-select: none;
}

.over {
    border-style: solid;
}

.hide {
    display: none;
}

.video-container {
    position: relative;
    width: 100vw;
    max-width: 1274px;
}

.canvas, .video {
    background-color: white;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.progress-bar-container, .progress-bar {
    height: 1vh;
    background-color: rgba(221, 160, 221, 0.5);
}
.progress-bar {
    background-color: purple;
}

.play, .pause, .stop, .video-current-time, .video-volume {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.play {
    bottom: 10px;
    left: 10px;
}

.pause {
    bottom: 10px;
    left: 60px;
}

.stop {
    bottom: 10px;
    left: 110px;
}

.video-current-time {
    bottom: 10px;
    left: 160px;
    min-width: fit-content;
    padding-left: 10px; padding-right: 10px;
    border-radius: 1rem;
    
    color: black;
    user-select: none;
}

.video-volume {
    bottom: 10px;
    right: 10px;
    min-width: fit-content;
    padding-left: 10px; padding-right: 10px;
    border-radius: 1rem;
    
    color: black;
    user-select: none;
}

.volume-input {
    -webkit-appearance: none;
    background: black;
    height: 10px;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}

.volume-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: purple;
    border: 1px solid white;
    border-radius: 1rem;
    height: 22px;
    width: 12px;
    outline: none;
}

.stop-image {
    width: 20px;
    height: 20px;
}

.pause-image {
    width: 20px;
    height: 20px;
}

.play-image {
    transform: translate(15%, 0%);
    width: 20px;
    height: 25px;
}

.volume-image {
    margin-right: 5px;
    width: 27px;
    height: 25px;
}

.video-container:hover .play, .video-container:hover .pause,
.video-container:hover .stop, .video-container:hover .video-current-time,
.video-container:hover .video-volume {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100px;

    font-size: 1.5rem;
    background-color: purple;
}

.header::selection {
    background-color: white;
    color: black;
}

.footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: purple;
    min-width: 100vw;
    height: 50px;
}

.footer-close-btn {
    position: absolute;
    transform: translateY(50%);
    right: 5%;
    bottom: 50%;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    outline: none;
}

.footer-close-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}